@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@font-face {
    font-family: 'WimpyKid';
    src: url('/fonts/WimpyKidFont.ttf');
}

body {
    color: rgb(var(--foreground-rgb));
    background:
        linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)),
        url(/assets/bg.jpg);
    background-repeat: repeat-y;
    font-family: WimpyKid;
    background-size: contain;
}
